bcrypt
beautifulsoup4
boto3
botocore
Bottleneck
Django==3.2
django-filter==22.1
djangorestframework==3.14.0
json5
jsonschema
Markdown
PyJWT
PyYAML==6.0
QtPy @ file:///C:/ci/qtpy_1662015096047/work
requests
requests-file
SQLAlchemy
tqdm
